name: ci

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build-android:
    runs-on: macos-26

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          dotnet-quality: preview

      - name: Install MAUI Android workload
        run: dotnet workload install maui-android

      - name: Restore
        run: dotnet restore -p:TargetFramework=net10.0-android

      - name: Build (Android)
        run: dotnet build --configuration Release --framework net10.0-android --no-restore
